<div class="card">
  <div class="card-body">
      <h5 class="card-title">{{ credential['name'] }}</h5>
      <p class="card-text"><strong>Mnemonics:</strong> <span class="monospace">{{ ', '.join(credential['mnemonics']) }}</span></p>
      <p class="card-text"><strong>Username:</strong> <span class="monospace">{{ credential['username'] }}</span></p>
      
      <p class="card-text">
          <strong>Password:</strong>
          {% if credential['password'] != none_str %}
              <div class="input-group">
                  <input type="password" id="password" class="form-control monospace" value="{{ credential['password'] }}" readonly>
                  <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" onclick="copyToClipboard('password')">Copy</button>
                  </div>
              </div>
          {% else %}
              <span class="monospace">{{ credential['password'] }}</span>
          {% endif %}
      </p>
      
      <p class="card-text"><strong>URL:</strong> <span class="monospace">{{ credential['url'] }}</span></p>
      
      <p class="card-text"><strong>Primary Email:</strong> <span class="monospace">{{ credential['primary_email'] }}</span></p>
      
      <p class="card-text"><strong>Secondary Email:</strong> <span class="monospace">{{ credential['secondary_email'] }}</span></p>
      
      <p class="card-text">
          <strong>Recovery Key:</strong>
          {% if credential['recovery_key'] != none_str %}
              <div class="input-group">
                  <input type="password" id="recovery_key" class="form-control monospace" value="{{ credential['recovery_key'] }}" readonly>
                  <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" onclick="copyToClipboard('recovery_key')">Copy</button>
                  </div>
              </div>
          {% else %}
              <span class="monospace">{{ credential['recovery_key'] }}</span>
          {% endif %}
      </p>

      <p class="card-text">
          <strong>Token:</strong>
          {% if credential['token'] != none_str %}
              <div class="input-group">
                  <input type="password" id="token" class="form-control monospace" value="{{ credential['token'] }}" readonly>
                  <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" onclick="copyToClipboard('token')">Copy</button>
                  </div>
              </div>
          {% else %}
              <span class="monospace">{{ credential['token'] }}</span>
          {% endif %}
      </p>
      
      <p class="card-text"><strong>Notes:</strong> <span class="monospace">{{ credential['notes'] }}</span></p>
  </div>
</div>
