<div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ credential['name'] }}</h5>
      <p class="card-text"><strong>Mnemonics:</strong> {{ ', '.join(credential['mnemonics']) }}</p>
      <p class="card-text"><strong>Username:</strong> {{ credential['username'] }}</p>
      
      <p class="card-text">
        <strong>Password:</strong>
        {% if credential['password'] != none_str %}
          <div class="input-group">
            <input type="password" id="password" class="form-control" value="{{ credential['password'] }}" readonly>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" onclick="copyToClipboard('password')">Copy</button>
            </div>
          </div>
        {% else %}
          {{ credential['password'] }}
        {% endif %}
      </p>
      
      <p class="card-text"><strong>URL:</strong> {{ credential['url'] }}</p>
      
      <p class="card-text">
        <strong>Primary Email:</strong> {{ credential['primary_email'] }}
      </p>
      
      <p class="card-text">
        <strong>Secondary Email:</strong> {{ credential['secondary_email'] }}
      </p>
      
      <p class="card-text">
        <strong>Recovery Key:</strong>
        {% if credential['recovery_key'] != none_str %}
          <div class="input-group">
            <input type="password" id="recovery_key" class="form-control" value="{{ credential['recovery_key'] }}" readonly>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" onclick="copyToClipboard('recovery_key')">Copy</button>
            </div>
          </div>
        {% else %}
          {{ credential['recovery_key'] }}
        {% endif %}
      </p>

      <p class="card-text">
        <strong>Token:</strong>
        {% if credential['token'] != none_str %}
          <div class="input-group">
            <input type="password" id="token" class="form-control" value="{{ credential['token'] }}" readonly>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" onclick="copyToClipboard('token')">Copy</button>
            </div>
          </div>
        {% else %}
          {{ credential['token'] }}
        {% endif %}
      </p>
      
      <p class="card-text"><strong>Notes:</strong> {{ credential['notes'] }}</p>
    </div>
  </div>