{% extends 'base.html' %}

{% block title %}Update Credential{% endblock %}

{% block content %}
    <div class="container">
        <h1>Update Credential</h1>

        <form method="POST" onsubmit="return validatePassword()">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ credential['name'] }}" required>
            </div>

            <!-- Mnemonics (multiple) -->
            <div class="form-group">
                <label for="mnemonics">Mnemonics</label>
                <input type="text" class="form-control" id="mnemonics" name="mnemonics" value="{{ credential['mnemonics']|join(', ') }}" required>
                <small id="mnemonicsHelp" class="form-text text-muted">Enter mnemonics separated by commas.</small>
            </div>

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" value="{{ credential['username'] }}">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" value="{{ credential['password'] }}">
            </div>
    
            <div class="form-group">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" class="form-control" id="confirm_password" value="{{ credential['password'] }}" name="confirm_password">
            </div>
    
            <div class="form-group">
                <label for="url">URL</label>
                <input type="text" class="form-control" id="url" name="url" value="{{ credential['url'] }}">
            </div>

            <div class="form-group">
                <label for="pemail">Primary Email</label>
                <input type="text" class="form-control" id="pemail" name="pemail" value="{{ credential['primary_email'] }}">
            </div>

            <div class="form-group">
                <label for="semail">Secondary Email</label>
                <input type="text" class="form-control" id="semail" name="semail" value="{{ credential['secondary_email'] }}">
            </div>

            <div class="form-group">
                <label for="rkey">Recovery Key</label>
                <input type="text" class="form-control" id="rkey" name="rkey" value="{{ credential['recovery_key'] }}">
            </div>

            <div class="form-group">
                <label for="token">Token</label>
                <input type="text" class="form-control" id="token" name="token" value="{{ credential['token'] }}">
            </div>

            <div class="form-group">
                <label for="notes">Notes</label>
                <textarea class="form-control" id="notes" name="notes" rows="4">{{ credential['notes'] }}</textarea>
            </div>

            <button type="submit" class="btn btn-primary">Update Credential</button>
        </form>
    </div>
    <br><br>

    <script>
        function validatePassword() {
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("confirm_password").value;
            if (password !== confirmPassword) {
                alert("Passwords do not match.");
                return false;
            }
            return true;
        }
    </script>
{% endblock %}
